@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #1ca774;
  --color-secondary: #05264e;
  --color-accent: #009868;

}

* {
  font-family: "Jost", sans-serif;
}

.active{
  @apply text-accent 
}